/*-------- fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*https://stackoverflow.com/questions/38086083/to-use-local-font-in-html-using-font-face*/
@font-face {
    font-family: pixel;
    src:url("/assets/fonts/PixelOperator8.ttf");
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: pixel;
    font-size: 14px;
    color: white;
    background-color: #000000;
}
/*---------- headings --------*/
h1{
    font-family: Monoton;
    text-transform: capitalize;
    font-size: 40px;
}

/*---------- borders ---------*/
.bord-white{
border: 1px solid white;
}
/*--------- margins ----------*/

.mg-bottom{
    margin-bottom: 25px;
}

/*--------- containers -------*/
.wrapper{
width: 95vw;
max-width: 950px;
margin: 0 auto;
}

header, footer {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
}

.game-info{
    height: 9vh;
}

.game-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

.word-container{
    width: 100%;
    height: 21.5vh; 
}

.keyboard-container{
    width: 100%;
    height: 30vh; 
}

.hangman-container{
    width: calc(40% - 20px);
}

/* ---------- navigation -------------*/
#nav-menu{
width: 30px;
height: 30px;
}

#toggle-nav{
width: 100%;
}