/*-------- fonts ---------------*/

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*https://stackoverflow.com/questions/38086083/to-use-local-font-in-html-using-font-face*/
@font-face {
    font-family: pixel;
    src: url("/assets/fonts/PixelOperator8.ttf");
}

/*-------- general --------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: pixel;
    font-size: 14px;
    color: white;
    background-color: #000000;
}

/*---------- headings --------*/

h1 {
    font-family: Monoton;
    text-transform: capitalize;
    font-size: 40px;
}

/*---------- buttons ---------*/

.btn {
    display: block;
    padding: 12px 0;
    font-family: inherit;
    text-transform: uppercase;
    font-size: inherit;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(216, 216, 216);
}

/*---------- borders ---------*/

.bord-white {
    border: 1px solid white;
}

/*--------- margins ----------*/

.mg-bottom {
    margin-bottom: 25px;
}

.pd-bottom {
    padding-bottom: 20px;
}

/*--------- containers -------*/

.wrapper {
    width: 95vw;
    max-width: 950px;
    margin: 0 auto;
}

header,
footer {
    height: max(85px, min(15.5vh, 145px));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.game-info {
    height: max(50px, min(9vh, 72px));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0 5px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container,
.game-over-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

.word-container,
.keyboard-container,
.win-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0px 5px;
}

.word-container {
    height: max(134px, min(21.5vh, 170px));
    position: relative;
    flex-direction: column;
    align-items: center;
}

.keyboard-container,
.win-container {
    width: 100%;
    height: max(210px, min(30vh, 236px));
}

.hangman-container {
    width: calc(40% - 20px);
    text-align: center;
}

.game-over-container {
    width: 60%;
    height: calc(51.5vh + 25px);
    max-height: 431px;
    min-height: 369px;
    margin-right: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

/* ---------- navigation -------------*/

#nav-menu {
    width: 30px;
    height: 30px;
    position: relative;
}

#toggle-nav {
    width: 100%;
}

.menu-container {
    position: absolute;
    margin: 0 auto;
    top: 45px;
    right: -10px;
    width: 375px;
    border: 1px solid white;
    background-color: black;
    z-index: 1;
    padding: 20px 0px 15px;
}

.btn-menu {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 12px;
}

.menu-content {
    width: 87.5%;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 90%;
}

.menu-content ul {
    margin-inline-start: 15px;
    padding-inline-start: 15px;
}

.menu-content li {
    line-height: 1.5;
}

.menu-content h4 {
    font-size: initial;
    text-align: center;
    padding-bottom: 8px;
}

.btn-settings-menu {
    text-align: center;
    padding-bottom: 15px;
}

.btn-level,
.btn-volume {
    display: inline-block;
    margin: 0 5px;
    min-width: 25%;
    padding: 9px 12px;
}

.btn-volume img {
    max-height: 14px;
}

/*---------- scoring -----------*/

.scoring {
    margin: auto;
}

.scoring img {
    height: 20px;
    padding-right: 20px;
    vertical-align: bottom;
}

/*---------- word --------------*/

#hint {
    position: absolute;
    top: 20px;
    left: 20px;
}

.word {
    display: flex;
    width: 95%;
    justify-content: center;
}

.letter-box {
    width: 40px;
    height: 40px;
    margin: 0 4px;
    padding-top: 12px;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
}

#start {
    width: 45%;
}

/*---------- keyboard--------------*/

.key {
    width: 40px;
    height: 40px;
    margin: 4px 4px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
}

/*---------- win message ----------*/

h3 {
    text-align: center;
    width: 100%;
}

.continue,
.leave,
#play-again {
    width: 30%;
    margin: 0 15px;
}

/* -----------game-over -------------*/

.content-group {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#correct-answer,
#count-words,
#final-score,
#best-new-score {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 110%;
}

.game-over-container input {
    width: 50%;
    height: 35px;
}

/*----------- hangman ---------------*/

#hangman {
    max-width: 86.5%;
}

.path {
    stroke: white;
    -webkit-stroke: white;
    fill: transparent;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* ---------- footer ----------*/
footer {
    margin-top: 15px;
}

#contact-us {
    padding: 12px 15px;
    font-size: 85%;
}

a {
    padding-left: 5px;
}

a img {
    height: 30px;
    transition: 0.3s;
}

/* --------- states ---------- */

.hide {
    display: none;
}

.active {
    background: green;
    color: white;
}

/*-------- hovering effect ----------*/

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_fade3*/
#start:hover,
.key:hover,
#contact-us:hover,
.continue:hover,
.leave:hover,
#play-again:hover {
    background-color: rgb(202, 199, 199);
}

/*https://css-tricks.com/change-color-of-svg-on-hover/*/
a img:hover,
#toggle-nav:hover {
    transform: scale(1.1);
    filter: invert(50%) sepia(5%) saturate(2%) hue-rotate(15deg) brightness(125%) contrast(100%);
}

/*----------- media queries -----------*/

/*TABLET*/

@media screen and (max-width: 769px) {

    .wrapper {
        width: 85%;
    }

    .mg-bottom {
        margin-bottom: 15px;
    }

    header,
    footer {
        height: 11vh;
    }

    .game-info {
        height: 7vh;
    }

    .flex-container {
        width: 100%;
        margin-right: 0;
        order: 3;
    }

    .word-container {
        width: 100%;
        height: 17vh;
    }

    .hangman-container {
        width: 100%;
        height: 25vh;
        order: 2;
        margin-bottom: 15px;
    }

    #hangman {
        width: 30%;
    }

    .path {
        stroke-width: 9px;
    }

    .keyboard-container,
    .win-container {
        padding: 30px;
        height: 22.5vh;
        align-content: center;
    }

    .key {
        width: 45px;
        height: 45px;
        padding-top: 14px;
    }

    .game-over-container {
        width: 100%;
        height: calc(39.5vh + 15px);
        order: 3;
        margin-right: 0;
    }
}